name: Python CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 2 * * 1'  # Run at 2:00 AM every Monday

jobs:
  test:
    runs-on: windows-latest

    env:
      FLASK_APP: website
      DATABASE_URL: sqlite:///test_db.sqlite
      FLASK_ENV: testing

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13.0'

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      run: |
        pytest --disable-warnings --maxfail=5 --junitxml=test-results.xml

    - name: Lint with Flake8
      run: |
        pip install flake8 flake8-trailing-whitespace
        flake8 . --output-file=flake8-report.txt --statistics --max-line-length=79

    - name: Upload Test and Linting Results
      uses: actions/upload-artifact@v3
      with:
        name: results
        path: |
          test-results.xml
          flake8-report.txt
